body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	overflow: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
table {
	width:100%;
}
#main{
	color: black;
	margin-left: auto;
	margin-right: auto;
	width: 733px;
	height: auto;
	position: relative;
}
#pdflist{
	box-shadow: inset 1px 1px 3px #999;
	overflow-x:auto;
}

.tick {
  width: 20px;
  text-align: center;
}
.unitsth {
  text-align: center;
}
.units {
  width: 100px;
  text-align: center;
  padding-right: 0px;
}

#amount{
	width: 4em;
}

#price{
	width: 5em;
}
#newitem{
	width: 90%;
}
#error{
	background-color: #ff6666;
	padding: 20px;
	margin: 30px 30px 50px;
	border-radius: 20px;
}
#graphic{
	text-align: right;
}
#additional{
	margin: 20px 0;
}
#footer{
	height: 10%;
	background-image: url(/static/images/bottom_repeat.png);
	background-repeat: repeat-x;
	border-left: solid #C2C6C9 thin;
	border-right: solid #C2C6C9 thin;
	border-bottom: solid #C2C6C9 thin;
	font-size: .6em;
	text-align: center;
	padding-top: 1em;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;